* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  min-width: 100px;
  margin: 10px;
  text-align: center;
}
img {
  width: 100px;
  height: auto;
  margin: 10px;
}
h1,
h2 {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
}
.html-heading {
  background-color: #e34c26;
  color: white;
}
.css-heading {
  background-color: #1f4ae2;
  color: white;
}
.js-heading {
  background-color: #f0db4f;
}
