#userColours,
#randomColours {
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 20px 5px;
  background-color: white;
}
input {
  margin: 0 5px;
  padding: 8px 20px;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
input:hover {
  background-color: aliceblue;
}
input:focus {
  outline: 2px solid rgb(64, 64, 121);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(11, 11, 16);
  color: white;
}
#divs {
  display: flex;
}
p {
  font-size: 16px;
  margin: 0;
  margin-left: 5px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 1px;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}
