<<<<<<< HEAD
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  max-width: 300px;
  border-radius: 10px;
  min-height: 500px;
}

span {
  color: red;
  font-weight: bold;
}
#price {
  color: black;
  font-size: 56px;
}

#dollarsign {
  color: gray;
  font-size: 28px;
  vertical-align: super;
  padding-right: 2px;
}
ul {
  min-height: 300px;
}
li {
  text-align: left;
  padding: 6px;
}
.emptylist {
  list-style: none;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
  background: #fd1d1d;
  background: linear-gradient(
    342deg,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}

button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  background-color: red;
  color: white;
  align-self: center;
  min-width: 70%;
  padding: 15px 7px;
  border-radius: 40px;
  border: none;
}

.card:hover button {
  color: black;
  background-color: white;
}

.card:hover span {
  color: white;
}

.card:hover #price {
  color: white;
}
.card:hover #dollarsign {
  color: whitesmoke;
}

h2 {
  font-size: 28px;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  div {
    max-width: 70%;
  }
}
=======
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  max-width: 300px;
  border-radius: 10px;
  min-height: 500px;
}

span {
  color: red;
  font-weight: bold;
}
#price {
  color: black;
  font-size: 56px;
}

#dollarsign {
  color: gray;
  font-size: 28px;
  vertical-align: super;
  padding-right: 2px;
}
ul {
  min-height: 300px;
}
li {
  text-align: left;
  padding: 6px;
}
.emptylist {
  list-style: none;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
  background: #fd1d1d;
  background: linear-gradient(
    342deg,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}

button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  background-color: red;
  color: white;
  align-self: center;
  min-width: 70%;
  padding: 15px 7px;
  border-radius: 40px;
  border: none;
}

.card:hover button {
  color: black;
  background-color: white;
}

.card:hover span {
  color: white;
}

.card:hover #price {
  color: white;
}
.card:hover #dollarsign {
  color: whitesmoke;
}

h2 {
  font-size: 28px;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  div {
    max-width: 70%;
  }
}
>>>>>>> c016f3030eabcd66ed1d53eb9404fac30e4bfbfb
