table,
td {
  border: 1px solid;
  border-collapse: collapse;
}
td {
  width: 100px;
}
fieldset {
  max-width: 600px;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
