* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(11, 11, 16);
  font-size: 1.5em;
  font-family: sans-serif;
}

.wrapper {
  margin-top: 10%;
}
h1 {
  color: rgb(222, 221, 221);
  font-size: 2.5em;
  text-align: center;
  margin: 30px;
}
li {
  color: rgb(229, 229, 229);
  list-style: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  width: 400px;
  margin-top: 10px;
}

.remove {
  cursor: pointer;
  margin-left: auto;
  border: none;
  background-color: rgb(11, 11, 16);
  height: 25px;
}
#taskInput {
  width: 380px;
  font-size: 0.75em;
  margin: 20px 0 20px 0;
  outline: none;
  border: none;
  padding: 10px;
  background-color: rgb(29, 29, 37);
  color: rgb(229, 229, 229);
  border-radius: 10px;
}
.complete {
  cursor: pointer;
  margin-right: 10px;
  border-radius: 100px;
  border: none;
  padding: 10px;
  background-color: rgb(11, 11, 16);
  outline: 2px solid white;
}
.done {
  color: rgb(181, 181, 181);
  text-decoration: line-through;
}
