body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
span {
  text-transform: uppercase;
  writing-mode: vertical-rl;
}
h3 {
  text-transform: uppercase;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
div {
  display: flex;
  flex-direction: column;
}
img {
  width: 300px;
  height: auto;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-right: 5px;
}
.images {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.span-image {
  flex-direction: row;
}
.image {
  margin: 0 20px;
}
footer {
  background-color: rgb(78, 75, 247);
  color: white;
  display: flex;
  flex-direction: column;
}
a {
  padding: 10px;
  color: white;
}
@media (max-width: 786px) {
  .header {
    flex-direction: column;
    margin: 0 20px;
  }
}
