body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  font-family: sans-serif;
  display: flex;
  height: auto;
  max-width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background-color: aliceblue;
}
.castle-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  font-size: 0.8vw;
  max-width: 40%;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.castle-icon {
  width: 90px;
}

.hashtags {
  color: gray;
}

.name {
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.8vw;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  .text {
    max-width: 80%;
    align-items: center;
    font-size: 20px;
  }
  .name {
    text-align: center;
    font-size: 32px;
  }
}
