* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
}
.headerDiv {
  margin: 25px 15px;
  display: flex;
  align-items: center;
}

.headerspan,
.appsimage {
  margin: 0px 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.appsimage {
  height: 35px;
  cursor: pointer;
}

.headerspan:hover {
  cursor: pointer;
  text-decoration: underline;
}
.signinbutton {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px;
  background-color: rgb(25, 25, 233);
  color: white;
  outline: none;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
}

.signinbutton:hover {
  cursor: pointer;
  background-color: rgb(18, 18, 189);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.googleLogo {
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
}

.searchbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 50px;
}
#search {
  font-size: 18px;
  flex: 2;
  height: 30px;
  border: none;
  outline: none;
  margin: 0 10px;
}
.magnifyingglass,
.microphone {
  margin: 10px;
  width: 20px;
}
.magnifyingglass {
  width: 40px;
  margin-right: 0;
}
.microphone {
  padding: 0 20px;
}
.microphone:hover {
  cursor: pointer;
}
.buttonsUnderSearch {
  margin: 20px 0 10px 0;
}
.underSearchButton {
  color: rgb(107, 107, 107);
  padding: 15px 30px;
  margin: 10px;
  border: none;
}
.underSearchButton:hover {
  color: black;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  padding-bottom: 10px;
}
.tam {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  padding: 10px 0;
}
.footerDiv {
  align-items: center;
}
.footerSpan {
  color: rgb(93, 93, 93);
  padding: 10px;
  margin: 10px 0;
}
.footerSpan:hover {
  cursor: pointer;
  text-decoration: underline;
}
hr {
  color: rgb(227, 227, 227);
  margin: 0 10px;
}
.Norge {
  color: rgb(93, 93, 93);
  padding: 10px;
  margin: 10px 0;
}
