body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 85%;
  padding: 20px;
  margin: 20px;
  font-size: 18px;
}

.divmargin {
  background-color: rgb(192, 192, 192);
  width: 500px;
  border: 1px dashed black;
  padding: 30px;
}
.divborder {
  background-color: rgb(1, 182, 1);
}
.divpadding {
  background-color: rgb(158, 123, 226);
}

.divcontent {
  background-color: white;
  border: 1px dashed black;
}
p {
  width: 600px;
}
